<div class="container-480 well m-t-50">
  <h2 class="text-center m-b-30">Log In</h2>
  <div class="disable-popup font-bold font-20">x</div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => "form-horizontal",:id => "form_log_in"},remote: true) do |f| %>
    <% if flash[:logged] %>
      <div><%= flash[:logged] %></div>
    <% end %>

    <div class="form-group m-b-20">
      <%= f.label :email,class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="checkbox text-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>

    <br />

    <div class="actions form-group text-center">
      <%= f.submit "Log In", class: "btn btn-success btn-lg",id: "submitter" %>
    </div>
  <% end %>

  <div class="text-center">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>
  </div>

</div>

<script type="text/javascript">
    $(".disable-popup").click(function() {
        $(".ajax-login").remove();
    });
    $("#submitter").click(function() {
        if (!($(".error-login").length)) {
          $(".disable-popup.font-bold.font-20").after("<div class='error-login text-center'></div>");
          $(".error-login").append("<div class='alert alert-info' role='alert'>Password or login is incorrect</div>");
          $(".error-login").after("<br />");
        };
    });
</script>